@import "./variables/global";
@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/violet";

.app {
    font: var(--font-s);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.page-content {
    display: flex;
}
