:root {
    --font-family-main: consolas, monaco, monospace;
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --font-size-s: 12px;
    --font-line-height-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-height-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-height-m: 20px;
    --font-m: var(--font-size-m) / var(--font-line-height-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-height-l: 28px;
    --font-l: var(--font-size-l) / var(--font-line-height-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-height-xl: 36px;
    --font-xl: var(--font-size-xl) / var(--font-line-height-xl) var(--font-family-main);
    --font-size-xxl: 48px;
    --font-line-height-xxl: 52px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-height-xxl) var(--font-family-main);
    --modal-z-index: 100;
    --overlay-background-color: rgb(0 0 0 / 50%);
    --error-color: #f00;
    --error-color-dark: #b30000;
    --success-color: #0f0;
    --success-color-dark: #00b300;
    --warning-color: #ff0;
    --warning-color-dark: #b3b300;
}
