.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.switchers {
    position: absolute;
    inset: auto auto 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.linkText {
    opacity: 1;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 50px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .navigation {
        margin-left: unset;
        align-items: center;
    }
}

.collapsBtn {
    position: absolute;
    right: -31px;
    bottom: 40px;
    height: 65px !important;
    border-radius: 4px;
}
