.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    .switchers {
        flex-direction: column;
    }
    .linkText {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: 0;
    }
}

.switchers {
    position: absolute;
    inset: auto auto 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.collapsBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.navigationItem {
    margin: 10px 0;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 10px;
    fill: var(--inverted-primary-color);
}

.linkText {
    opacity: 1;
}
