.text {
    max-width: fit-content;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.small {
    .title {
        font: var(--font-m);
    }

    .content {
        font: var(--font-s);
    }
}

.medium {
    .title {
        font: var(--font-l);
    }

    .content {
        font: var(--font-m);
    }
}

.large {
    .title {
        font: var(--font-xl);
    }

    .content {
        font: var(--font-l);
    }
}

.info {
    .title {
        color: var(--primary-color);
    }

    .content {
        color: var(--secondary-color);
    }
}

.error {
    .title {
        color: var(--error-color);
    }

    .content {
        color: var(--error-color-dark);
    }
}

.success {
    .title {
        color: var(--success-color);
    }

    .content {
        color: var(--success-color-dark);
    }
}

.warning {
    .title {
        color: var(--warning-color);
    }

    .content {
        color: var(--warning-color-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .content {
        color: var(--inverted-secondary-color);
    }
}
