.dark {
    --bg-color: #27233a;
    --inverted-bg-color: #ddec95;
    --primary-color: #8aa426;
    --secondary-color: #94c8ab;
    --inverted-primary-color: #945555;
    --inverted-secondary-color: #fcbcb8;
    --skeleton-color: #82809d;
    --skeleton-shadow: #4e4673;
    --code-bg-color: #eaefd3;
    --card-bg-color: #5f5b6f;
}
