.dark {
    --bg-color: #27233a;
    --inverted-bg-color: #eaefd3;
    --primary-color: #85877c;
    --secondary-color: #7e998a;
    --inverted-primary-color: #d39191;
    --inverted-secondary-color: #fcbcb8;

    --skeleton-color: #82809d;
    --skeleton-shadow: #4e4673;

    --code-bg-color: #eaefd3;

    --card-bg-color: #5f5b6f;
}
