:root {
    --bg-color: #eaefd3;
    --inverted-bg-color: #27233a;
    --primary-color: #7e998a;
    --secondary-color: #85877c;
    --inverted-primary-color: #fcbcb8;
    --inverted-secondary-color: #efa7a7;
}
