.violet {
    --bg-color: #BE92A2;
    --inverted-bg-color: #D8E1FF;
    --primary-color: #75959f;
    --secondary-color: #46637c;
    --inverted-primary-color: #7247b8;
    --inverted-secondary-color: #8498ae;

    --skeleton-color: #dfa5b9;
    --skeleton-shadow: #6c848b;
    
    --code-bg-color: #ac9dc5;

    --card-bg-color: #f5d9e3;
}
