.violet {
    --bg-color: #6F2DBD;
    --inverted-bg-color: #B9FAF8;
    --primary-color: #7c8784;
    --secondary-color: #4e6056;
    --inverted-primary-color: #B298DC;
    --inverted-secondary-color: #B8D0EB;
}
