.violet {
    --bg-color: #BE92A2;
    --inverted-bg-color: #D8E1FF;
    --primary-color: #bae7f5;
    --secondary-color: #678fb4;
    --inverted-primary-color: #927bb7;
    --inverted-secondary-color: #8498ae;

    --skeleton-color: #f5d9e3;
    --skeleton-shadow: #bae7f5;
    
    --code-bg-color: #D8E1FF;
}
