.button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
}

.backgroundInverted {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.square {
    border-radius: 0;
    padding: 0;
}

.small {
    font: var(--font-s);
}

.medium {
    font: var(--font-m);
}

.large {
    font: var(--font-l);
}

.square.small {
    height: var(--font-line-height-s);
    width: var(--font-line-height-s);
}

.square.medium {
    height: var(--font-line-height-m);
    width: var(--font-line-height-m);
}

.square.large {
    height: var(--font-line-height-l);
    width: var(--font-line-height-l);
}
