.button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
    padding: 10px 20px;
}
