.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.link {
    padding: 10px;
}

.avatar,
.username {
    margin-right: 10px;
    
    h4 {
        margin: 0;
    }
}
