.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.input {
    width: 100%;
    margin-bottom: 10px;
}

.editing {
    border: 2px dashed var(--inverted-bg-color);;
}