.Dropdown {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.items {
    background-color: var(--card-bg-color);
    position: absolute;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 20px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background-color: var(--inverted-primary-color);
    border-radius: 8px;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.topLeft {
    bottom: 100%;
    right: 0;
}

.topRight {
    bottom: 100%;
    left: 0;
}
