
.PostsFilters {
   margin-bottom: 20px;
}

.filtersWrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.tabs,
.searchLine {
   margin-bottom: 10px;
}