.Overlay {
    background: var(--overlay-background-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: -1;
    cursor: pointer;
}
